<div onload="">
		
    <div class="main">
        <div class="loginWrapper">
            <div class="loginLeft">
                <img src="assets/images/login.svg" class="loginPic">
                <br>
                <input type='text' class="loginInput" size="30" placeholder="Username" name='username' [(ngModel)]='username'>
                <br>
                <input type='password' class="loginInput" size="30" placeholder="Password" name='password' [(ngModel)]='password'>
                <br>
                <button (click)='logIn()' class="loginButton" value="LOG IN"> LOG IN </button>
                <div class="errorMessage">
                    {{message}}
                </div>
                
                <button routerLink='/register' class="loginButton" style="background-color: lightgrey; border-color: lightgray;"> Create new account</button>
                <button routerLink='/change-your-password' class="loginButton" style="background-color: lightgrey; border-color: lightgray;"> Change the password</button>
                </div>
                
            <div class="loginRight">
            </div>
        </div>
    </div>
    
</div>
