<div class="main">
  <div class="loginWrapper" style="height: auto; min-height: 70vh;">

    <select class="loginInput" [(ngModel)]="choosenCompetision" (ngModelChange)="competitionChange($event)"
      name="competitions" id="competitions">
      <option [ngValue]="null">Choose competition</option>
      <option *ngFor="let oneCompetition of competitions" [ngValue]="oneCompetition">
        {{oneCompetition.name}}
      </option>
    </select>

    <br />

    <select class="loginInput" [(ngModel)]="choosenSportist" name="sportists" id="sportists">
      <option [ngValue]="null">Choose sportist </option>
      <option *ngFor="let oneSportist of showSportists" [ngValue]="oneSportist">
        {{oneSportist.name}}
      </option>
    </select>
    <br />


    <span *ngIf="choosenCompetision!=null">
      Competition sport: {{competitionSport}}
      <br />
      Competition discipline:
      <span *ngIf="competitionDiscipline"> {{competitionDiscipline}} </span>
      <span *ngIf="!competitionDiscipline"> No discipline </span>
      <br />
      Competition gender: {{competitionSex}}
      <br />
    </span>


    <button class="loginButton" (click)="prijaviSportistu()"> Prijavi takmicara</button>

    <span *ngIf="message!=null">
      <br />
      {{message}}
    </span>


    <hr />
    <div class="fullWidth"><button (click)='logOut()' class="loginButton" value="LOGOUT"> LOG OUT </button></div>
  </div>
</div>