<div onload="">
		
    <div class="main">
        <div class="loginWrapper">
            <div class="loginLeft">
                <input type="text" class="loginInput" size="30" placeholder="Username" name='username' [(ngModel)]='username' >
                <br>
                <input type="password" class="loginInput" size="30" placeholder="Password" name='password' [(ngModel)]= 'password'>
                <br>
                <input type="text" class="loginInput" size="30" placeholder="Name" name='name' [(ngModel)]= 'name'>
                <br>
                <input type="text" class="loginInput" size="30" placeholder="Surname" name='surname' [(ngModel)]= 'surname'>
                <br>
                <input type="text" class="loginInput" size="30" placeholder="Country" name='country' [(ngModel)]= 'country'>
                <br>
                <input type="text" class="loginInput" size="30" placeholder="e-mail" name='mail' [(ngModel)]= 'mail'>
                <br>
                <select class="loginInput" name='type' [(ngModel)]='type'>
                    <option [ngValue]="undefined" selected disabled>Choose type</option>
                    <option value='Delegate'>Delegate</option>
                    <option value='Leader'>Leader</option>
                </select>
                <br>
                <button (click)='register()' class="loginButton" value="SIGN IN"> REGISTER</button>
                <div class="errorMessage">
                    {{message}}
                </div>
                
            </div>
            <div class="loginRight">
            </div>
        </div>
    </div>
    

