<div onload="">
		
    <div class="main">
        <div class="loginWrapper">
            <div class="loginLeft">
                <input type="text" class="loginInput" size="30" placeholder="Username" name='username' [(ngModel)]='username' >
                <br>
                <input type="password" class="loginInput" size="30" placeholder="Password" name='password' [(ngModel)]= 'password'>
                <br>
                <input type="text" class="loginInput" size="30" placeholder="Name" name='name' [(ngModel)]= 'name'>
                <br>
                <input type="text" class="loginInput" size="30" placeholder="Surname" name='surname' [(ngModel)]= 'surname'>
                <br>
                <input type="text" class="loginInput" size="30" placeholder="Country" name='country' [(ngModel)]= 'country'>
                <br>
                <input type="text" class="loginInput" size="30" placeholder="e-mail" name='mail' [(ngModel)]= 'mail'>
                <br>
                <select class="loginInput" name='type' [(ngModel)]='type'>
                    <option [ngValue]="undefined" selected disabled>Choose type</option>
                    <option value='Delegate'>Delegate</option>
                    <option value='Leader'>Leader</option>
                </select>
                <br>
                <button (click)='register()' class="loginButton" value="SIGN IN"> SIGN IN </button>
                <div class="errorMessage">
                    {{message}}
                </div>
                
            </div>
            <div class="loginRight">
            </div>
        </div>
    </div>
    
    <div class="header">
        <span class="linksHolder" id="linksHolder">
        <a class="headerLinks"><span id="homespan" class="linija"></span><span id="homehead" routerLink='/homepage'>HOME</span></a>
        <a class="headerLinks"><span id="countriesspan" class="linija"></span><span id="countrieshead">COUNTRIES</span></a>
        <a class="headerLinks"><span id="medalsspan" class="linija"></span><span id="medalshead">MEDALS</span></a>
        <a class="headerLinks"><span id="medalsspan" class="linija"></span><span id="searchhead">ATHLETES</span></a><img src="assets/images/search.png" class="searchPng">
        </span>
    </div>
    
    <div class="upperHeader">
        <div class="decorationHolder">
            <div class="decorationHeader"></div>
            <div class="circleHeader"></div>
            <div class="circleHeader2"></div>
            <div class="circleHeader3" id="circleHeader3"></div>
            <div class="circleHeader4"></div>
            <div id="tokyo2020" class="tokyo2020" onclick="tokyo2020animation();">TOKYO 2020</div>
        </div>
        <div class="login" onmouseover="addc3(1)" onmouseout="addc3(0)"><img src="assets/images/account.png" class="account" routerLink='/login'><div class="logintext">LOG IN</div></div>
        <img src="assets/images/logo_gif.gif" class="logoGif">
    </div>
</div>

