<div onload="">

    <div class="main">

        <table class="countriesTable">
            <tr class="tabhead">
                <th width="10%">FLAG</th>
                <th width="60%">COUNTRY</th>
                <th width="30%"># ATHLETES</th>
            </tr>
            <tbody>
                <tr *ngFor='let c of allCountries | slice: (page1-1) * 10 : (page1-1) * 10 + 10'>
                    <th><img src="assets/flags/{{c.country}}.svg.png" height="20vw"></th>
                    <th>{{c.country}}</th>
                    <th>{{c.numberOfParticipants}}</th>
                </tr>

                <tr>
                    <th colspan="3" style="text-align:center">
                        <ngb-pagination [(page)]="page1" [pageSize]="10" [collectionSize]="allCountries.length">
                        </ngb-pagination>
                    </th>
            </tbody>
        </table>

        <table class="medalsTable">
            <tr class="tabhead">
                <th width="10%">RANK</th>
                <th width="30%">COUNTRY</th>
                <th width="15%" style="color:white">GOLD</th>
                <th width="15%" style="color:white">SILVER</th>
                <th width="15%" style="color:white">BRONZE</th>
                <th width="15%">SUM</th>
            </tr>
            <tr *ngFor='let m of allMedals | slice: (page2-1) * 10 : (page2-1) * 10 + 10'>
                <th>{{m.ranking}}</th>
                <th>{{m.country}}</th>
                <th>{{m.numGold}}</th>
                <th>{{m.numSilver}}</th>
                <th>{{m.numBronze}}</th>
                <th>{{m.sum}}</th>
            </tr>
            <tr>
                <th colspan="6" style="text-align:center">
                    <ngb-pagination [(page)]="page2" [pageSize]="10" [collectionSize]="allCountries.length">
                    </ngb-pagination>
                </th>
        </table>
        <div class="searchDiv" id="search">
            <input type='text' class="loginInput" size="30" placeholder="Name" name='name' [(ngModel)]='name'>
            <br>
            <select class="loginInput" name='country ' [(ngModel)]='country '>
                <option [ngValue]="null" selected>All countries</option>
                <option *ngFor='let c of allCountries '>{{c.country}}</option>
            </select>
            <br>
            <select class="loginInput" name='sport ' [(ngModel)]='sport '>
                <option [ngValue]="null" selected>All sports</option>
                <option *ngFor='let k of allSports '>{{k.sport}}</option>
            </select>
            <br>
            <button (click)='search()' class="loginButton" value="SEARCH"> SEARCH </button>
        </div>
        <table class="countriesTable">
            <tr class="tabhead">
                <th width="20%">NAME</th>
                <th width="10%">SEX</th>
                <th width="20%" style="color:white">NATIONALITY</th>
                <th width="20%" style="color:white">SPORT</th>
                <th width="20%" style="color:white">DISCIPLINES</th>
                <th width="10%">MEDAL COUNT</th>
            </tr>
            <tr *ngFor='let s of allSportists | slice: (page3-1) * 10 : (page3-1) * 10 + 10'>
                <th>{{s.name}}</th>
                <th>{{s.sex}}</th>
                <th>{{s.nationality}}</th>
                <th>{{s.sport}}</th>
                <th>{{s.disciplines}}</th>
                <th>{{s.medalCount}}</th>
            </tr>
            <tr>
                <th colspan="6" style="text-align:center">
                    <ngb-pagination [(page)]="page3" [pageSize]="10" [collectionSize]="allCountries.length">
                    </ngb-pagination>
                </th>
        </table>
    </div>
</div>