
  <div onload="">
		
    <div class="main">
        <table class="countriesTable">
            <tr class="tabhead">
                <th width="10%" >FLAG</th>
                <th width="60%">COUNTRY</th>
                <th width="30%"># ATHLETES</th>
            </tr>
            <tbody>
            <tr>
                <th><img src="assets/flags/Serbia.webp" height="20vw"></th>
                <th>Serbia</th>
                <th>12</th>
            </tr>
            <tr>
                <th><img src="assets/flags/Afghanistan.webp" height="20vw"></th>
                <th>Afghanistan</th>
                <th>8</th>
            </tr>
            <tr>
                <th><img src="assets/flags/Argentina.webp" height="20vw"></th>
                <th>Argentina</th>
                <th>52</th>
            </tr>
            <tr>
                <th><img src="assets/flags/Great.webp" height="20vw"></th>
                <th>Great Britain</th>
                <th>256</th>
            </tr>
            <tr>
                <th><img src="assets/flags/North.webp" height="20vw"></th>
                <th>North Macedonia</th>
                <th>20</th>
            </tr>
            <tr>
                <th><img src="assets/flags/Croatia.webp" height="20vw"></th>
                <th>Croatia</th>
                <th>32</th>
            </tr>
            <tr>
                <th><img src="assets/flags/Slovakia.webp" height="20vw"></th>
                <th>Slovakia</th>
                <th>40</th>
            </tr>
            <tr>
                <th><img src="assets/flags/China.webp" height="20vw"></th>
                <th>China</th>
                <th>525</th>
            </tr>
            <tr>
                <th><img src="assets/flags/Germany.webp" height="20vw"></th>
                <th>Germany</th>
                <th>452</th>
            </tr>
            <tr>
                <th><img src="assets/flags/Azerbaijan.webp" height="20vw"></th>
                <th>Azerbaijan</th>
                <th>68</th>
            </tr>
            <tr>
                <th colspan="3" style="text-align:center"><span></span> <input type="text" value="1" size="1" class="inputPage"> <span>></span></th>
            </tbody>
        </table>
        <table class="medalsTable">
            <tr class="tabhead">
                <th width="10%">RANK</th>
                <th width="30%">COUNTRY</th>
                <th width="15%" style="color:white">GOLD</th>
                <th width="15%" style="color:white">SILVER</th>
                <th width="15%" style="color:white">BRONZE</th>
                <th width="15%">SUM</th>
            </tr>
            <tr>
                <th>1.</th>
                <th>Serbia</th>
                <th>120</th>
                <th>12</th>
                <th>6</th>
                <th>138</th>
            </tr>
            <tr>
                <th>2.</th>
                <th>Afghanistan</th>
                <th>100</th>
                <th>8</th>
                <th>12</th>
                <th>120</th>
            </tr>
            <tr>
                <th>3.</th>
                <th>Argentina</th>
                <th>82</th>
                <th>20</th>
                <th>13</th>
                <th>115</th>
            </tr>
            <tr>
                <th>4.</th>
                <th>Great Britain</th>
                <th>70</th>
                <th>20</th>
                <th>10</th>
                <th>100</th>
            </tr>
            <tr>
                <th>5.</th>
                <th>North Macedonia</th>
                <th>65</th>
                <th>15</th>
                <th>18</th>
                <th>98</th>
            </tr>
            <tr>
                <th>6.</th>
                <th>Croatia</th>
                <th>58</th>
                <th>22</th>
                <th>2</th>
                <th>92</th>
            </tr>
            <tr>
                <th>7.</th>
                <th>Slovakia</th>
                <th>50</th>
                <th>12</th>
                <th>30</th>
                <th>92</th>
            </tr>
            <tr>
                <th>8.</th>
                <th>China</th>
                <th>48</th>
                <th>31</th>
                <th>21</th>
                <th>100</th>
            </tr>
            <tr>
                <th>9.</th>
                <th>Germany</th>
                <th>42</th>
                <th>52</th>
                <th>16</th>
                <th>110</th>
            </tr>
            <tr>
                <th>10.</th>
                <th>Azerbaijan</th>
                <th>35</th>
                <th>45</th>
                <th>25</th>
                <th>105</th>
            </tr>
            <tr>
                <th colspan="6" style="text-align:center"><span><</span> <input type="text" value="1" size="1" class="inputPage"> <span>></span></th>
        </table>
    </div>
    
    <div class="header">
        <span class="linksHolder" id="linksHolder">
        <a class="headerLinks"><span id="homespan" class="linija"></span><span id="homehead">HOME</span></a>
        <a class="headerLinks"><span id="countriesspan" class="linija"></span><span id="countrieshead">COUNTRIES</span></a>
        <a class="headerLinks"><span id="medalsspan" class="linija"></span><span id="medalshead">MEDALS</span></a>
        <a class="headerLinks"><span id="medalsspan" class="linija"></span><span id="searchhead">ATHLETES</span></a><img src="assets/images/search.png" class="searchPng">
        </span>
    </div>
    
    <div class="upperHeader">
        <div class="decorationHolder">
            <div class="decorationHeader"></div>
            <div class="circleHeader"></div>
            <div class="circleHeader2"></div>
            <div class="circleHeader3" id="circleHeader3"></div>
            <div class="circleHeader4"></div>
            <div id="tokyo2020" class="tokyo2020" onclick="tokyo2020animation();">TOKYO 2020</div>
        </div>
        <div class="login" onmouseover="addc3(1)" onmouseout="addc3(0)" ><img src="assets/images/account.png" class="account" routerLink='/login'><div class="logintext" >LOG IN</div></div>
        <img src="assets/images/logo_gif.gif" class="logoGif">
    </div>
</div>

