
  <div onload="">
		
    <div class="main">
        <table class="countriesTable">
            <tr class="tabhead">
                <th width="10%" >FLAG</th>
                <th width="60%">COUNTRY</th>
                <th width="30%"># ATHLETES</th>
            </tr>
            <tbody>
            <tr *ngFor='let c of allCountries'>
                <th><img src="assets/flags/{{c.country}}.svg.png" height="20vw"></th>
                <th>{{c.country}}</th>
                <th>{{c.numberOfParticipants}}</th>
            </tr>
           
            <tr>
                <th colspan="3" style="text-align:center"><span></span> <input type="text" value="1" size="1" class="inputPage"> <span>></span></th>
            </tbody>
        </table>
        <table class="medalsTable">
            <tr class="tabhead">
                <th width="10%">RANK</th>
                <th width="30%">COUNTRY</th>
                <th width="15%" style="color:white">GOLD</th>
                <th width="15%" style="color:white">SILVER</th>
                <th width="15%" style="color:white">BRONZE</th>
                <th width="15%">SUM</th>
            </tr>
            <tr *ngFor='let m of allMedals'>
                <th>{{m.ranking}}</th>
                <th>{{m.zemlja}}</th>
                <th>{{m.brojZlatnih}}</th>
                <th>{{m.brojSrebrnih}}</th>
                <th>{{m.brojBronzanih}}</th>
                <th>{{m.ukupno}}</th>
            </tr>
            <tr>
                <th colspan="6" style="text-align:center"><span><</span> <input type="text" value="1" size="1" class="inputPage"> <span>></span></th>
        </table>

    
    <div class="header">
        <span class="linksHolder" id="linksHolder">
        <a class="headerLinks"><span id="homespan" class="linija"></span><span id="homehead">HOME</span></a>
        <a class="headerLinks"><span id="countriesspan" class="linija"></span><span id="countrieshead">COUNTRIES</span></a>
        <a class="headerLinks"><span id="medalsspan" class="linija"></span><span id="medalshead">MEDALS</span></a>
        <a class="headerLinks"><span id="medalsspan" class="linija"></span><span id="searchhead">ATHLETES</span></a><img src="assets/images/search.png" class="searchPng">
        </span>
    </div>
    
    <div class="upperHeader">
        <div class="decorationHolder">
            <div class="decorationHeader"></div>
            <div class="circleHeader"></div>
            <div class="circleHeader2"></div>
            <div class="circleHeader3" id="circleHeader3"></div>
            <div class="circleHeader4"></div>
            <div id="tokyo2020" class="tokyo2020" onclick="tokyo2020animation();">TOKYO 2020</div>
        </div>
        <div class="login" onmouseover="addc3(1)" onmouseout="addc3(0)" ><img src="assets/images/account.png" class="account" routerLink='/login'><div class="logintext" >LOG IN</div></div>
        <img src="assets/images/logo_gif.gif" class="logoGif">
    </div>
</div>

